[Unit]
Description=check-remote [%i]
After=network-online.target

[Timer]
Unit=check-remote@%i.service
OnCalendar=*:*
Persistent=true

[Install]
WantedBy=timers.target
