[Unit]
Description=hosts-update timer
After=network-online.target
 
[Timer]
Unit=hosts-update.service
OnCalendar=Sun 05:30 UTC
Persistent=true

[Install]
WantedBy=timers.target
