[Unit]
Description=mysql-dump
Requires=mysql.service
After=mysql.service
OnFailure=notify-status@%n
StartLimitBurst=2
StartLimitIntervalSec=10000

[Service]
Type=oneshot
Restart=on-failure
RestartSec=3600
ExecStart=/usr/local/sbin/mysql-dump
