[Unit]
Description=notify-status [%i]
StartLimitBurst=80
StartLimitIntervalSec=80000

[Service]
Type=oneshot
Restart=on-failure
RestartSec=900
ExecStart=/usr/local/sbin/notify-status %i

[Install]
WantedBy=multi-user.target
