[Unit]
Description=notify-failure

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo -e "Subject: [IMPORTANT] [$(hostname)] systemd unit failure\n\n$(systemctl status %i)" | sendmail root'

[Install]
WantedBy=multi-user.target
