[Unit]
Description=smart-dump
Requires=local-fs.target
After=local-fs.target
OnFailure=notify-status@%n
StartLimitBurst=2
StartLimitIntervalSec=10000

[Service]
Type=oneshot
Restart=on-failure
RestartSec=3600
ExecStart=/usr/local/sbin/smart-dump
