[Unit]
Description=SSH key agent
StartLimitBurst=5
StartLimitIntervalSec=500

[Service]
Type=simple
Restart=always
RestartSec=60
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
