[Unit]
Description=syncoidd
Requires=zfs.target
After=zfs.target
OnFailure=notify-status@%n
StartLimitBurst=2
StartLimitIntervalSec=10000

[Install]
WantedBy=syncoidd.target

[Service]
Type=oneshot
User=syncoid
Restart=on-failure
RestartSec=3600
Environment=TZ=UTC
Environment='PATH=/opt/sbin:/usr/sbin:/usr/bin:/sbin:/bin'
ExecStart=/usr/local/sbin/syncoidd
