[Unit]
Description=Syncoid runner
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/opt/stuff/private/etc/$(hostname)/syncoid.sh"
