[Unit]
Description=zfs-health
Requires=zfs.target
After=zfs.target
OnFailure=notify-status@%n

[Service]
Type=oneshot
ExecStart=/usr/lib/zfs-linux/scrub
