[Unit]
Description=zfs-health timer
After=zfs.target
 
[Timer]
Unit=zfs-health.service
OnCalendar=*:30
Persistent=true

[Install]
WantedBy=timers.target
