[Unit]
Description=zfs-keystatus [%i]
Requires=zfs-import.target
After=zfs-import.target
OnFailure=notify-status@%n
StartLimitBurst=3
StartLimitIntervalSec=1000

[Service]
Type=oneshot
Restart=on-failure
RestartSec=300
ExecStart=/usr/local/sbin/zfs-keystatus %i
